body{
    background-color: #FFC6B2;
}

.form-control:focus
{
    box-shadow: 0 0 5px 2px #FFC6B2 !important;
}

.password
{
    transition: all 0.3s ease-in-out;
}

.password:hover, .password:focus
{
    color:#FFC6B2;
    font-size: 2.5rem;
}
.fw-bold-2
{
    transition: all 0.3s ease-in-out;
}

.fw-bold-2:hover, .fw-bold-2:focus
{
    color: #FFC6B2;
    font-size: 2.5rem;
}